.footer {
    padding: 108px 0 46px;
    background-color: #0A223D;
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, 1fr));
        grid-auto-rows: minmax(60px, min-content);
        grid-gap: 20px;
        align-items: start;
    }
    &__header {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 16px;
        &--margin {
            margin: 0 43px 0 0;
        }
    }
    &__ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        color: #BDBDBD;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        &--hover:hover, .footer__item {
            color: #fff;
        }
        &--icon:nth-child(1) {
            content: '';
            background-image: url('../img/place-marker.svg');
            background-repeat: no-repeat;
            background-position-y: top;
            padding-left: 41px;
        }
        &--icon:nth-child(2) {
            content: '';
            background-image: url('../img/phone-icon.svg');
            background-repeat: no-repeat;
            background-position-y: top;
            padding-left: 41px;
        }
        &--icon:nth-child(3) {
            content: '';
            background-image: url('../img/email.svg');
            background-repeat: no-repeat;
            background-position-y: center;
            padding-left: 41px;
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
    }
    &__logo {
        width: 166px;
        align-self: stretch;
        grid-row: 1/3;
    }
    &__categories {
        grid-row: 1/4;
    }
    &__social-network {
        display: flex;
        align-items: start;
        grid-row: 2/4;
        grid-column: span 2;
    }
    &__links {
        min-width: 85px;
        display: flex;
        justify-content: space-between;
    }
    &__legal {
        justify-self: right;
    }
    &__contact-details {
        grid-column: span 2;
    }
    &__feedback {
        grid-column: span 2;
    }
    &__text {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #BDBDBD;
    }
    &__margin-1 {
        margin-bottom: 22px;
    }
    &__margin-2 {
        margin-bottom: 32px;
    }
    &__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__input {
        width: 100%;
        &-group {
            margin-bottom: 15px;
            flex-basis: 48%;
            align-self: flex-start;
        }
    }
    &__message {
        margin-bottom: 23px;
        flex-basis: 100%;
    }
    &__button {
        &:hover {
            background-color: $button-hover-color;
            color: #000;
        }
        &:active {
            &:hover {
                background-color: $button-action-color;
                color: #fff;
            }
        }
    }
    &__info {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #E0E0E0;
    }
    &-bottom {
        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, 1fr));
        align-items: center;
        &--margin-3 {
            margin-top: 95px;
        }
        &__list {
            grid-column: 2/3;
            display: flex;
            justify-content: space-between;
            min-width: 290px;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &__item {
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            &:hover {
                color: $text-hover-color;
            }
        }
        &__link {
            color: inherit;
            text-decoration: none;
        }
        &__payment {
            grid-column: 3/4;
            justify-self: right;
        }
        &__image {
            width: 136px;
            height: 22px;
        }
    }
}