.header {
    background-color: #fff;
}
.navbar {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        &__menu-button {
            display: none;
        }
        &__search {
            margin: 0 auto 0 108px;
        }
    }
    &-bottom {
        background-color: #0A223D;
    }
}
.logo {
    width: 177px;
}
.search {
    position: relative;
    height: 40px;
    overflow: hidden;
    border-radius: 6px;
    &__input {
        padding: 0 75px 0 23px;
        height: 100%;
        width: 350px;
        background-color: #f5f5f5;
        border: none;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $text-color;
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        width: 65px;
        height: 100%;
        border: none;
        background-color: $primary;
        cursor: pointer;
    }
}
.user {
    display: flex;
    align-items: center;
    text-decoration: none;
    &__avatar {
        border-radius: 50%;
        object-fit: cover;
        height: 40px;
        width: 40px;
    }
    &__name {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $text-color;
        margin-left: 18px;
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 31px 0;
    color: #fff;
    &__item {
        list-style-type: none;
        &--mobile--visible {
            display: none;
        }
    }
    &__list {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
    }
}